/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\000039}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000329}}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000340}}
audio:not([controls]) {
  display: none;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000347}}
[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000311}}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000319}}
body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a {
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000315}}
a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\000039}}
abbr[title] {
  border-bottom: 1px dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000315}}
b,
strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000322}}
dfn {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000329}}
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000336}}
mark {
  background: #ff0;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000343}}
small {
  font-size: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000349}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000357}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000361}}
sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000315}}
svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\000039}}
figure {
  margin: 1em 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000315}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000323}}
pre {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000329}}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000315}}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000327}}
button {
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000336}}
button,
select {
  text-transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000347}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000357}}
button[disabled],
html input[disabled] {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000364}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000373}}
input {
  line-height: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000383}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000393}}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003102}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003113}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003120}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003129}}
legend {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003136}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003143}}
optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/\.rvm\/gems\/ruby-1\.9\.3-p551\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\0000314}}
td,
th {
  padding: 0; }

/* ==========================================================================
   Helpers
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000315}}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000321}}
.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000329}}
.cf {
  *zoom: 1; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000337}}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Calculator
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000348}}
html {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1YTBjZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhjMTg3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #35a0cf), color-stop(100%, #8c187d));
  background-image: -moz-linear-gradient(top, #35a0cf, #8c187d);
  background-image: -webkit-linear-gradient(top, #35a0cf, #8c187d);
  background-image: linear-gradient(to bottom right, #35a0cf, #8c187d);
  background-attachment: fixed;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000355}}
body {
  box-sizing: border-box;
  font-family: 'proxima-nova', sans-serif;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000373}}
*, *:before, *:after {
  box-sizing: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000377}}
button {
  -webkit-appearance: none;
  background: #186D8C;
  border: none;
  color: #2a2b08;
  display: block;
  font-weight: bold;
  font-size: 34px;
  height: 60px;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000388}}
  button:hover {
    background: #1f8fb8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000393}}
.calc {
  -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background: #114b60;
  border-radius: 5px;
  color: #FFF;
  cursor: move;
  margin: 30px auto;
  padding: 20px;
  width: 80%; }
  @media screen and (min-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000393}}
    .calc {
      width: 40%; } }
  @media screen and (min-width: 1100px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\0000393}}
    .calc {
      width: 30%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003112}}
.calc--brand {
  color: #186D8C;
  font-family: courier, serif;
  font-size: 24px;
  margin: 0 0 10px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003120}}
.calc--field__equation {
  background: #1f8fb8;
  border: 0;
  box-shadow: 0;
  display: block;
  font-family: monaco, monospace;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 34px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  line-height: 30px;
  letter-spacing: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003137}}
.calc--buttons__numbers {
  overflow: hidden;
  *zoom: 1;
  float: left;
  display: flex;
  width: 72.5%;
  margin-right: 5%;
  flex-wrap: wrap;
  justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003147}}
.calc--buttons__number {
  color: #FFF;
  flex-basis: 30%;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003153}}
.calc--buttons__methods {
  clear: left;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003160}}
.calc--buttons__method {
  color: #FFF;
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-between; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003168}}
* {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003172}}
#calc--buttons__multiply {
  text-transform: lowercase; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003196}}
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003205}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003222}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003236}}
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003252}}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003258}}
.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003285}}
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003295}}
  a,
  a:visited {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003300}}
  a[href]:after {
    content: " (" attr(href) ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003304}}
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003313}}
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003318}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003329}}
  thead {
    display: table-header-group; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003333}}
  tr,
  img {
    page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003338}}
  img {
    max-width: 100% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003342}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/richardhuf\/Sites\/calculator\/css\/main\.scss}line{font-family:\00003349}}
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
