$color1: #186D8C;
$color2: #35a0cf;
$color3: #8758C7;
$color4: #000;
$color5: #FFF;
$color6: #8c187d;

@import "normalize";
@import "compass";

/* ==========================================================================
   Helpers
   ========================================================================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Calculator
   ========================================================================== */

html {
  // This yields a linear gradient spanning from the upper left corner to the lower right corner
  @include background-image(linear-gradient(to bottom right, $color2, $color6));
  background-attachment: fixed;
  height: 100%;
}

body {
//   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color1+0,35bcce+100 */
// background: blue; /* Old browsers */
// background: -moz-linear-gradient(45deg,  $color1 0%, $color2 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(45deg,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(45deg,  $color1 0%,$color2 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(45deg,  $color1 0%,$color2 100%); /* IE10+ */
// background: linear-gradient(45deg,  $color1 0%,$color2 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  box-sizing: border-box;

  font-family: 'proxima-nova', sans-serif;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  -webkit-appearance: none;
  background: $color1;
  border: none;
  color: rgb(42, 43, 8);
  display: block;
  font-weight: bold;
  font-size: 34px;
  height: 60px;
  text-transform: uppercase;

  &:hover {
    background: lighten($color1, 10%);
  }
}

.calc {
  @include box-shadow(4px 4px 8px rgba(0,0,0, 0.2));
  background: darken($color1, 10%);
  border-radius: 5px;
  color: #FFF;
  cursor: move;
  margin: 30px auto;
  padding: 20px;
  width: 80%;

  @media screen and (min-width: 720px) {
    width: 40%;
  }

  @media screen and (min-width: 1100px) {
    width: 30%;
  }
}

.calc--brand {
  color: $color1;
  font-family: courier, serif;
  font-size: 24px;
  margin: 0 0 10px;
  text-align: center;
}

.calc--field__equation {
  background: lighten($color1, 10%);
  border: 0;
  box-shadow: 0;
  display: block;
  font-family: monaco, monospace;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 34px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  line-height: 30px;
  letter-spacing: 2px;
}

.calc--buttons {
  &__numbers {
    @include clearfix;
    float: left;
    display: flex;
    width: 72.5%;
    margin-right: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__number {
    color: $color5;
    flex-basis: 30%;
    margin-bottom: 15px;
  }

  &__methods {
    // float: left;
    // width: 22.5%;
    clear: left;
    display: flex;
  }

  &__method {
    color: $color5;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-between;
  }
}

* {
  outline: none;
}

#calc--buttons__multiply {
  text-transform: lowercase;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
